.Editor { 
    color: #0C74DB; 
    background-color: #d8e3fa; 
    font-family: 'Josefin Sans', sans-serif; 
    line-height: 1.4;
    
}

/* "body { font-family:Helvetica,Arial,sans-serif; font-size:14px; background: transparent; background-color: transparent; }" */
/* "body { color: #0C74DB; background-color: #d8e3fa; font-family: 'Josefin Sans', sans-serif; line-height: 1.4; }"*/