.PlaygroundEditorTheme__paragraph {
    margin: 0;
    top: 0;
    position: relative;
    display: block;
}

.PlaygroundEditorTheme__textUnderline {
    text-decoration: underline;
}
.PlaygroundEditorTheme__textStrikethrough {
    text-decoration: line-through;
}