/* Back Button */
@font-face {
    font-family: 'BukhariScript';
    src: url('../../../Fonts/BukhariScript.ttf')  format('truetype'),
         url('../../../Fonts/BukhariScript.woff') format('woff')
}

.Link{
    color: black;
    background-color: white;
    text-decoration: none;
    margin: 1rem;
    position: relative;
    border-radius: 25px;
}

.LinkContainer{
    width: 80%;
    height: 10%;
    color: black;
    background-color: white;
    text-decoration: none;
    margin: 1rem;
    position: relative;
    padding-left: 3%;
    border-radius: 25px;
    border: 2px solid black;
}

.DivBackground{
    background-color: #793033;
    height: 100vh;
    width: 100%;
}

.Title{
    text-align: center;
}

.DropdownButtonStyle{
    background-color: gray;
    display: flex;
    justify-content: center;
    margin: auto;
}

.DropdownButtonStyle::after{
    display: none;
}


.EditCardBackButton{
    text-align: left;
    padding-top: 1%;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    /* padding-right: 30%; */
    margin: 0;
    color: black;
    border-radius: 20%;
    color: white;
}

.editCardBackButtonInnerContainer{
    text-align: left;
    padding-top: 1%;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 30%;
}

.editCardBackButtonOuterContainer{
    display: flex;
    height: 100%;
}

.SettingsButtonStyle{
    background-color: transparent;
    display: flex;
    align-items: center;
    border: 0;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: transparent; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    transform: translateY(-14px);
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: black;
    opacity: 0.9;
    border-radius: 50%;
    width: 1vh;
    height: 1vh;
}
.slider::-moz-range-thumb {
    background: #053a5f;
    height: 0.5rem;
}

.EditCardTopView{
    width: auto;
    z-index: 2;
    padding: 1%;
    justify-content: center;
    display: flex;
}

.settingsCard{
    margin: auto;
    background-color: white;
    z-index: 2;
}

.EditCardBottemView{
    position: absolute;
    z-index: 1;
    background-color: #793033;
    height: 100vh;
    width: 100%;
}

.ImageLibraryView{
    position: absolute;
    z-index: 2;
    background-color: transparent;
    padding: 5vw;
    justify-content: center;
    display: flex;
    width: 100vw;
}
.ImageLibraryViewTitle{
    padding-left: 3%;
    padding-top: 1%;
}

.ImageLibraryViewCard{
    width: 90vw;
    height: 80vh;
}

/* card tool bar */
.CardToolbarDiv{
    background-color: white;
    display:grid;
}

.CardContainterCardCSSColumn{
    padding: 0;
    margin: 0;
    height: 85vh;
}

.CardContainterCardCSSColumn:fullscreen{
    padding: 0;
    height: 20vh;
}

/* card containter */
.CardContainterCardCSS {
    overflow: hidden;
    /* white-space: nowrap; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b5b8ba;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.CardContainterCardCSS ::-webkit-scrollbar {display:none;}

.CardContainterCardCSS:fullscreen{
    overflow: hidden;
    /* white-space: nowrap; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b5b8ba;
    height: 100%;
    margin: 0;
    padding: 0;
}

.CardToolBarButton{
    background-color: white;
    border: #793033;
    height: 15%;
    display: flex;
    position: fixed;
}

.dotButtonStyle{
    position: absolute;
    border: none;
    color: transparent;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.dot{
    height: 5px;
    width: 5px;
    background-color: #1e70ea;
    border-radius: 50%;
    display: inline-block;
}

.imgContainer {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.formcontrol{
    color: #1e70ea;
    background-color: #1e70ea;
}


/* display: "flex",
justifyContent: "center",
alignItems: "center", */

.ContentEditable{
    border: 0;
    font-size: 15px;
    display: block;
    position: relative;
    outline: 0;
    padding: 0;
    overflow: hidden;
    resize: none;
}

.ImageLibraryButton{
    margin: 5%;
    background-color: blue;
    border: none;
    border-radius: 20%;
    width: 10%;
}

.TextSelectButton{  /* Bold Italic.. etc */
    border: none;
    width: 15%;
    display: inline-block;
    border-radius: 10%;
    aspect-ratio: 1/1;
    background-color: white;
    margin: auto;
}

.TextSelectionButtonSelected{
    border: none;
    width: 15%;
    display: inline-block;
    border-radius: 10%;
    aspect-ratio: 1/1;
    background-color: lightgrey;
    margin: auto;
}

.FontSelectionDivContainer{
    width: 100%;
    height: 15vh;
    overflow: scroll;
    background-color: white;
}

.FontSelectionButton{
    border: none;
    display: block;
    background-color: white;
}

.BindingButton{
    border: none;
    background-color: #1e70ea;
    width: 40%;
    border-radius: 5px;
}

.uploadMicrosoftFilesContainer{
    height: 60vh;
    overflow-y: scroll;
}

.PDFStyle{
    height: 100%;
    width: 100%;
}

.LibraryUploadDropdown{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.TitleEditCard{
    color: white;
    font-family: "BukhariScript";
    margin: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
    user-select: none;
}